<script setup>
import { ref } from 'vue'
const enviroment = import.meta.env.VITE_ENVIROMENT_VARIABLE

</script>

<template>
  {{ enviroment }}
</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
